[core]
    excludesfile = ~/.gitignore
    editor = nvim
    ignorecase = false
    pager = delta

[user]
	email = 78975020+bloodzera@users.noreply.github.com
	name = BlooD

[color]
    branch = auto
    diff = auto
    grep = auto
    status = auto
    interactive = auto
    ui = auto

[alias]
    a = "add"
    aa = "add --all"
    cm = "commit"
    cma = "commit -a"
    co = "checkout"
    ps = "push"
    pl = "pull"
    s = "status"
    b = "branch"
    ba = "branch -a"
    bm = "branch --merged"
    bn = "branch --no-merged"
    d = "diff"
    dm = "diff --minimal"

[github]
    user = bloodzera
[merge]
	tool = kdiff3
